*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background: #FCFAFF;
}


header {
    width: 100%;
    height: 76px;
    padding: 0 70px;
    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

header img {
    width: 151px;
    height: 40px;
}

.menu-wraper {
    display: flex;
    gap: 32px;
}

.menu-wraper a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    white-space: nowrap;
}

.contain {
    max-width: 1440px;
    padding: 0 70px;
    margin: 0 auto;
}

/* section__sellNFT */

.section__sellNFT {
    display: flex;
    flex-flow: column;
    position: relative;


    padding-bottom: 83px;
}

.section__sellNFT h1 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.2;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
    text-align: center;
    padding-top: 117px;
}

.section__sellNFT p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #532C59;
    text-align: center;
    padding: 32px 0;
}

.section__sellNFT button {
    background: #532C59;
    border-radius: 15px;
    border: none;
    padding: 16px 20px;
    margin: 0 auto;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.sellNFT__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 57px;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
    filter: blur(116px);
    z-index: -1;
}

.section__sellNFT img {
    position: absolute;
}

.sellNFT__img1 {
    left: 53px;
    top: 5px;
}

.sellNFT__img2 {
    width: 111px;
    height: 112px;
    right: 167px;
    top: 67px;
}

.sellNFT__img3 {
    right: 33px;
    top: 387px;
}

.sellNFT__img4 {
    width: 299px;
    height: 300px;
    left: -16px;
    top: 298px;
}

/* section__partners */

.section__partners {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    gap: 40px;
}

/* section__team */

.section__team {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__team h2 {
    padding: 80px 0 24px;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}

.section__team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
}

.team__w {
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.card__team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px 0;
}

.card__team h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.card__team p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #532C59;

}